.about {
  width: 96%;
  padding: 24px;
  background: rgba(19, 21, 48, 0.8);
  position: relative;
  display: flex;
  margin: 2%;
  box-sizing: border-box;
}

.about-image {
  max-width: 42%;
  height: auto;
  padding-left: 12px;
}
.about-text {
  width: 50%;
  margin-left: 48px;
}

.paragraph {
  position: relative;
}

.paragraph.history {
  margin-bottom: 48px;
}

.paragraph.abilities::before {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: -20px;
}

.text-title {
  color: white;
  font-family: pier Sans;
  font-weight: bolder;
  margin-bottom: 0;
}

.text {
  padding: 8px;
  text-align: justify;
  color: white;
  font-family: pier Sans;
  font-weight: lighter;
}

.slideshow {
  margin: 0 2% 32px 2%;
  width: 96%;
  height: 400px;
  background-color: rgba(19, 21, 48, 0.8);
}
